@import url('https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans');

*{
    margin: 0;
    padding: 0;
}

header {
    height: 170px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ccc;
    text-align: right;
}

.btn-cart {
    background: url(../img/shopping-cart-solid.svg) no-repeat;
    width: 50px;
    height: 50px;
    margin-top: 60px;
    margin-right: 60px;
    text-indent: -99999px;
    border: 0;
}

.btn-cart:focus{
    outline: 0;
}

.products{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-item{
    width: 150px;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 7px;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: right;
}

.product-item div{
    margin: 10px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.product-item h3{
    font-family: 'Comfortaa', cursive;
}

.product-item h4{
    font-family: 'Open Sans', sans-serif;
}

.product-item h4,
.product-item h3{
    margin: 10px;
}
